<% @accounts.each do |account| %>
  <%= account.name %></br>
  <%= account.category %> </br>

  <% account.stocks.each do |stock| %>
    <%= stock.name %>
  <% end  %>
    <a href="/accounts/<%=account.id%>/edit">Edit</a>
<% end %>
