<h1>Add a New Brokerage Account</h1>

<form action="/accounts" method="POST">
  <label> Account Name: </label>
  <input type="text" name="name"> </br>

  <label> Account Category: </label>
  <input type="text" name="category"> </br>
  <select>
    <option value="Value">Volvo</option>
    <option value="Growth">Saab</option>
    <option value="Index">Mercedes</option>
  </select>
  <input type="submit" value="Create">
</form>
